<div id="<%= dom_id theme %>">
  <p>
    <strong>Name:</strong>
    <%= theme.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= theme.description %>
  </p>

  <p>
    <strong>Repository:</strong>
    <%= theme.repository %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= theme.website %>
  </p>

  <p>
    <strong>Authors:</strong>
    <%= theme.authors %>
  </p>

  <p>
    <strong>Released:</strong>
    <%= theme.released %>
  </p>

  <p>
    <strong>Last commit:</strong>
    <%= theme.last_commit %>
  </p>

  <p>
    <strong>Platform:</strong>
    <%= theme.platform %>
  </p>

  <p>
    <strong>Downloads:</strong>
    <%= theme.downloads %>
  </p>

</div>
