<div id="<%= dom_id catalog %>">
  <p>
    <strong>Name:</strong>
    <%= catalog.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= catalog.description %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= catalog.active %>
  </p>

  <p>
    <strong>Scope:</strong>
    <%= catalog.scope %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= catalog.year %>
  </p>

  <p>
    <strong>Expires at:</strong>
    <%= catalog.expires_at %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= catalog.color %>
  </p>

</div>
